.end_item{
    width: 100%;
    background: #3ac1df;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: relative;


    .info{
        padding: 15px 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;

        p{
            font-size: 14px;
            color: #ffffff;
            line-height: 19px;

            span{
                background: white;
                color: #3ac1df;
                display: block;
                padding: 6px 10px;
                border-radius: 5px;
            }
        }
    }
    .action{
        display: flex;
        border-radius: 0 0 5px 5px;
        overflow: hidden;

        button{
            width: 100%;
            border: none;
            height: 30px;
            font-size: 11px;

            &.principal{
                background: #123a43;
                color: #fff;
            }
            &.deletar{
                background: #eb5628;
                color: #fff;
            }
        }
    }
}
app-endereco-item{
    width: 100%;
}