@import './../../../mixins.scss';

main{
    @include page_style;

    .left{
        display: flex;
        justify-content: center;
        align-items: center;

        .content{
            text-align: center;

            h1{
                color: #123a43;
                margin: 0 0 20px;
            }
            .dados{
                display: flex;
                flex-direction: column;
                align-items: center;

                .img{
                    margin: 0 0 15px;
                }
                p{
                    font-size: 20px;
                }
            }
            button{
                border: none;
                background: #123a43;
                width: 150px;
                height: 40px;
                border-radius: 5px;
                color: white;
                margin: 15px 0 0;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
    .right{
        display: flex;
        align-items: center;

        .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 140px 25px;
            text-align: center;

            img{
                width: 100px;
                margin: 0 0 20px;
            }
            h2{
                color: #123a43;
                font-size: 25px;
                margin: 0 0 10px;
            }
            p{
                color: #123a43;
                font-size: 17px;
            }
        }
    }
}

@media (max-width: 1000px){
    main{
        .left{
            display: flex !important;
            width: 300px !important;
        }
        .right{
            width: calc(100% - 300px) !important;
        }
    }
}
@media (max-width: 650px){
    main{
        flex-direction: column;
    
        .left{
            order: 2;
            height: auto;
            min-height: initial !important;
            width: 100% !important;
            padding: 40px 15px 60px;
            box-shadow: initial !important;

            .content{
                h1{
                    font-size: 23px;
                    
                }
                .dados{
                    p{
                        font-size: 18px;
                    }
                }
            }
        }
        .right{
            order: 1;
            height: auto;
            min-height: initial !important;
            width: 100% !important;

            .content{
                padding: 20px 20px 20px;

                img{
                    width: 60px;
                    margin: 0 0 10px;
                }
                h2{
                    font-size: 20px;
                }
                p{
                    font-size: 15px;
                }
            }
        }
    }
}