<main>
    <section class="left">
        <div class="content">
            <h1>Analise de credito</h1>
            <div class="dados">
                <div class="img">
                    <app-img-file [valor]="pessoa.getFoto()" />
                </div>
                <p>{{ pessoa.getNome() }} {{ pessoa.getSobrenome() }}</p>
                <p>{{ pessoa.getCPF() }}</p>
            </div>
            <button (click)="submit('/analise')">Fazer análise</button>
        </div>
    </section>
    <section class="right">
        <div class="content">
            <img src="./../../../assets/svg/confirm.svg" alt="">
            <h2>Cadastro finalizado</h2>
            <p>Faça a análise de crédito para receber a aprovação</p>
        </div>
    </section>
</main>