<main>
    <section class="left">
        <div class="content">
            <div class="img">
                <app-logo />
            </div>
            <h1>Faça o cadastro</h1>
            <p>Para ter o melhor gerenciamento de sua empresa no mercado</p>
            <a href="https://docnix.com.br/empresa/" target="_blank">Saiba mais</a>
        </div>
    </section>
    <section class="right">

        <div class="content">
            <app-cadastro-content [pessoa]="pessoa" *ngIf="url === '/cadastro'"/>
            <app-cadastro-endereco *ngIf="url === '/cadastro/endereco'"/>
            <app-cadastro-cartao *ngIf="url === '/cadastro/cartao'"/>
        </div>
    </section>
</main>

