<div class="end_item" [class.principal]="principal">
    <div class="info">
        <div class="number">
            <span>4586</span>
            <span>8763</span>
            <span>9995</span>
            <span>8392</span>
        </div>
        <p>BRUNO MACAHARU YOSIMURA</p>
        <p>04/30</p>
        <p>709.293.321-73</p>
    </div>
    <div class="action">
        <button class="principal" *ngIf="!principal">Endereço principal</button>
        <button class="deletar">Deletar</button>
    </div>
</div>

