<div class="cadastro-endereco">
    <div>
        <h2>Cadastrar novo endereço:</h2>
        <div class="content">
            <div class="left">
                <button class="adicionar">Adicionar</button>
                <button class="voltar">Voltar</button>
            </div>
            <div class="right">
                <div class="half">
                    <app-input [label]="'CEP'" />
                </div>
                <div class="half">
                    <app-input [label]="'Rua'" />
                </div>
                <div class="half">
                    <app-input [label]="'Número'" />
                </div>
                <div class="half">
                    <app-input [label]="'Complemento'" />
                </div>
                <div class="half">
                    <app-input [label]="'Cidade'" />
                </div>
                <div class="half">
                    <app-input [label]="'Estado'" />
                </div>
            </div>
        </div>
    </div>
</div>

