@import './../../../mixins.scss';

.cadastro-endereco{
    >div{
        padding: 25px;

        h2{
            @include form_title;
        }

        .content{
            @include form_content;
            .left{
                display: flex;
                flex-direction: column;
                gap: 5px;

                button{
                    border: none;
                    width: 100%;
                    padding: 13px 0;
                    font-size: 13px;
                    border-radius: 5px;
                    color: white;

                    &.adicionar{
                        background: #4b009d;
                    }
                    &.voltar{
                        background: #eb5628;
                    }
                }
            }
            .right{
                div{
                    width: 100%;

                    &.half{
                        width: calc((100% - 10px) / 2);
                    }
                }
            }
        }
    }
}

@media (max-width: 600px){
    .cadastro-endereco{
        >div{
            h2{
            }
    
            .content{
                .left{
                    width: 100%;
                    order: 2;
                    flex-direction: row;
                    margin: 10px 0 0;

                    button{
                        &.adicionar{
                            order: 2;
                        }
                        &.voltar{
                            order: 1;
                        }
                    }
                }
                .right{
                    width: 100%;
                    order: 1;

                    div{
                        &.half{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}