@import './../../../../mixins.scss';

h2{
    @include form_title;
}

.content{
    @include form_content;

    .left{
        button.adicionar{
            background: $cor2;
            border: none;
            color: white;
            width: 100%;
            padding: 11px 0;
            font-size: 15px;
            border-radius: 5px;
        }
    }
    .right{
        display: flex;
    }
}
