@import './variaveis.scss';

@mixin form_title {
    color: #123a43;
    font-size: 16px;
    margin: 20px 0 15px;

    @media (max-width: 500px){
        font-size: 14px;
    }
}

@mixin inputStyle {
    position: relative;
    border-radius: 5px;

    input, select, textarea{
        width: 100%;
        border-radius: 5px;
        font-size: 13px;
        border: 2px solid $cor1;

        &.invalid{
            border-color: #eb5628 !important;
            + label{
                background: #eb5628 !important;
            }
        }

        &:focus-visible{
            outline: none;
        }

        &:focus{
            border-color: #0087a5;

            + label{
                background: #0087a5;
            }
        }

        &:not(:focus):not(.cheio){
            + label{
                height: 100%;
                width: 100%;
                font-size: 11px;
                border-radius: 5px;
            }
        }
    }

    label{
        position: absolute;
        pointer-events: none;
        font-size: 10px;
        background: $cor1;
        color: white;
        font-weight: bold;
        transition: all .1s;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        padding: 2px 15px;
        height: 18px;
        border-radius: 5px 0 5px 0;
        width: fit-content;
    }
}

@mixin form_content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .left{
        width: 110px;
    }
    .right{
        width: calc(100% - 130px);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    @media (max-width: 500px){
        .left{
            margin: 0 0 15px;
        }
        .right{
            width: 100%;
        }
    }
}

@mixin page_style {
    display: flex;

    section{
        &.left{
            background: white;
            width: 400px;
            min-height: 100vh;
            box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
        }
        &.right{
            background: #3ac1df69;
            width: calc(100% - 400px);
            min-height: 100vh;
            display: flex;
            justify-content: center;
            padding: 40px 0 40px;

            .content{
                background: #fff;
                width: calc(100% - 100px);
                max-width: 900px;
                height: fit-content;
                border-radius: 10px;
            }
        }
    }

    @media (max-width: 1000px){
        section{
            &.left{
                display: none;
            }
            &.right{
                width: 100%;
            }
        }
    }
    @media (max-width: 750px){
        section{
            &.right{
                .content{
                    width: calc(100% - 40px);
                }
            }
        }
    }
}
