<h2>Dados pessoais:</h2>
<div class="content">
    <div class="left">
        <app-img-file />
    </div>
    <div class="right">
        <div class="half">
            <app-input [label]="'Nome'" />
        </div>
        <div class="half">
            <app-input [label]="'Sobrenome'" />
        </div>
        <div class="half">
            <app-input [label]="'Data de nascimento'"/>
        </div>
        <div class="half">
            <app-input [label]="'Nacionalidade'"/>
        </div>
        <div class="half">
            <app-input [label]="'E-mail'"/>
        </div>
        <div class="half">
            <app-input [label]="'Telefone'" />
        </div>
        <div class="half">
            <app-input [label]="'CPF'"/>
        </div>
        <div class="half">
            <app-input [label]="'RG'"/>
        </div>
        <div class="half">
            <app-input [label]="'Nome da empresa'"/>
        </div>
        <div class="half">
            <app-select [label]="'Cargo'" />
        </div>
    </div>
</div>