<div class="cadastro-cartao">
    <div>
        <h2>Cadastrar novo cartão:</h2>
        <div class="content">
            <div class="cartao">
                <img src="./../../../assets/cartao.png" alt="">
                <div class="numero">
                    <span>5692</span>
                    <span>4520</span>
                    <span>4587</span>
                    <span>0145</span>
                </div>
            </div>

            <div class="dados">
                <div class="top">
                    <div class="half">
                        <app-input [label]="'Número do cartão'" />
                    </div>
                    <div class="half">
                        <app-input [label]="'Nome completo'" />
                    </div>
                    <div class="half">
                        <app-input [label]="'Vencimento'" />
                    </div>
                    <div class="half">
                        <app-input [label]="'CRV'" />
                    </div>
                </div>
                <div class="bottom">
                    <button class="voltar">Voltar</button>
                    <button class="adicionar">Adicionar</button>
                </div>
            </div>
        </div>
    </div>
    <app-submit-button [title]="'Salvar'" />
</div>

