<div class="cadastro-cartao">
    <div>
        <h2>Cadastrar cartão:</h2>
        <div class="content">
            <div class="cartao">
                <app-cartao-image [cartao]="cartao" />
            </div>

            <div class="dados">
                <div class="top">
                    <div class="half">
                        <app-input [valor]="cartao.getNumero()" (valorEmitt)="cartao.setNumero($event)" [label]="'Número do cartão'" />
                    </div>
                    <div class="half">
                        <app-input [valor]="cartao.getNome()" (valorEmitt)="cartao.setNome($event)" [label]="'Nome completo'" />
                    </div>
                    <div class="half">
                        <app-input [valor]="cartao.getVencimento()" (valorEmitt)="cartao.setVencimento($event)" [label]="'Vencimento'" />
                    </div>
                    <div class="half">
                        <app-input [valor]="cartao.getCrv()" (valorEmitt)="cartao.setCrv($event)" [label]="'CRV'" />
                    </div>
                </div>
                <div class="bottom">
                    <button class="adicionar" (click)="submit('/cadastro')">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>

